@import url('https://fonts.googleapis.com/css2?family=Russo One&display=swap');

.add_announce {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5% 15%;
}

.add_announce_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2% 0;
    padding: 2% 5%;
    background-color: #e5e7e9;
}

h1 {
    color: black;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

h2, i {
    color: black;
}

h3 {
    color: black;
    font-family: "Arial Black", serif;
    font-size: 18px;
}

hr {
    width: 100%;
}

.add_announce_container input, textarea{
    width: calc(100% - 70px);
}

.add_announce_available {
    display: flex;
    vertical-align: middle;
}

.add_announce_available_text {
    display: flex;
    flex: 1;
}

textarea {
    resize: none;
    color: black;
}

.add_announce_container .input_container{
    margin: 0.75% 0;
}


#btn_confirm_add_announce {
    width: 110%;
    padding: 9px 25px;
    background: linear-gradient(135deg, #ff690f 0%, #e8381b 100%);
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    margin: 3% 0;
    transition: all 0.3s;
}

#btn_confirm_rent_announce:hover {
    background-color: #F39C12;
    color: #000000;
}

#btn_confirm_rent_announce {
    width: 110%;
    padding: 9px 25px;
    background: linear-gradient(135deg, #ff690f 0%, #e8381b 100%);
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    margin: 3% 0;
    transition: all 0.3s;
}

#btn_confirm_add_announce:hover {
    background-color: #F39C12;
    color: #000000;
}

input [type="file"] {
    display: none;
    visibility: hidden;
}

#hide *{
    color: black;
}

#hide {
    margin-left: 20px;
}

#hide input[type=file] {
    display:none;
    margin:10px;
}
#hide input[type=file] + label {
    display:inline-block;
    margin:20px;
    padding: 4px 32px;
    background-color: #FFFFFF;
    border:solid 1px #666F77;
    border-radius: 6px;
    color:#666F77;
}
#hide input[type=file]:active + label {
    background-image: none;
    background-color:#2D6C7A;
    color:#FFFFFF;
}

#addimage:hover *{
    color: #e55e0d;
}

#icon_available {
    margin: 10px 20px 0 20px;
}

.add_announce_available_text h2 {
    margin-left: 60px;
}