.cars_list {
    display: flex;
}

.card {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    display: flex;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.car_image {
    float: left;
    width: 50%;
    height: 30%;
    border-radius: 5px 5px 0 0;
}

.vehicle_details {
    padding: 2px 16px;
}

.vehicle_details label{
    font-size: 18px;
    margin: 5px;
}