@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "topNavBar.css";
@import "advancedFilter.css";

/*TODO Exploration for responsive*/
@media only screen and (max-width:620px) {

}

body {
    background-color:  #f8f9f9;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #EDF0F1;
    text-decoration: none;
}

.container{
    display: flex;
}

.container * {
    font-size: 30px;
    color: #000000;
}

.advanced_filters{
    width: 15%;
    background-color: yellow;
    height: 100%;
}

#main_body{
    display: flex;
    flex-direction: column;
}